.btn-pink {
    background-color: #79CAF9;
    padding: 5px 20px;
    border-radius: 4px;
    margin: 2em;
    color:#F436CA;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
